@font-face {
    font-family: "vazir";
    src: url(../vazirmatn-v33.003/fonts/webfonts/Vazirmatn-Medium.woff2) format('woff2');
    src: url(../vazirmatn-v33.003/fonts/webfonts/Vazirmatn-Bold.woff2);
}
$font-family:"vazir";